certifi
charset-normalizer
click
contourpy
cycler
fonttools
idna
joblib
kiwisolver
matplotlib
nltk
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
regex
requests
scikit-learn
scipy
six
threadpoolctl
tqdm
tzdata
urllib3
vaderSentiment
